[submodule "Engine"]
	path = Monogame Engine/Engine
	url = https://github.com/SilverbackSoPra/Engine.git
[submodule "Shader"]
	path = Monogame Engine/Content/Shader
	url = https://github.com/SilverbackSoPra/Shader.git
